html
{
	background-image:url("images_accueil/background.png");
	background-size: cover;
}

#cssmenu
{ 
	height:75px; 
	display:block; 
	margin-top:-21px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid; 
	border-radius:5px; 
	max-width:100%;
	float: left;
} 

#cssmenu > ul 
{
	list-style:inside none; 
	padding:0; 
	margin:0;
	padding-right: auto;
	padding-left: auto;
	text-align: center;
} 

#cssmenu > ul > li 
{
	list-style:inside none;
	padding:0; 
	margin:0;
	float:left; 
	display:block;
	position:relative;
} 

#cssmenu > ul > li > a
{ 
	outline:none; 
	display:block; 
	position:relative; 
	padding:12px 20px; 
	font:bold 13px/100% Arial, Helvetica, sans-serif; 
	text-align:center; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.4); 
} 

#cssmenu > ul > li:first-child > a
{
	border-radius:5px 0 0 5px;
} 
	
#cssmenu > ul > li > a:after
{ 
	content:''; 
	position:absolute; 
	border-right:1px solid; 
	top:-1px; 
	bottom:-1px; 
	right:-2px; 
	z-index:99; 
} 

#cssmenu ul li.has-sub:hover > a:after
{
	top:0; 
	bottom:0;
} 

#cssmenu > ul > li.has-sub > a:before
{ 
	content:''; 
	position:absolute; 
	top:18px; 
	right:6px; 
	border:5px solid transparent; 
	border-top:5px solid #fff; 
} 

#cssmenu > ul > li.has-sub:hover > a:before
{
	top:19px;
} 

#cssmenu ul li.has-sub:hover > a
{ 
	background:#3f3f3f; 
	border-color:#3f3f3f; 
	padding-bottom:13px; 
	padding-top:13px; 
	top:-1px; 
	z-index:999; 
} 

#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div
{
	display:block;
} 

#cssmenu ul li.has-sub > a:hover
{
	background:#3f3f3f; 	
	border-color:#3f3f3f;
} 

#cssmenu ul li > ul, #cssmenu ul li > div
{ 
	display:none; 
	width:auto; 
	position:absolute; 
	top:38px; 
	padding:10px 0; 
	background:#3f3f3f; 
	border-radius:0 0 5px 5px; 
	z-index:999; 
} 

#cssmenu ul li > ul
{
	width:100%;
} 

#cssmenu ul li > ul li
{
	display:block; 
	list-style:inside none; 
	padding:0; 
	margin:0; 
	position:relative;
} 

#cssmenu ul li > ul li a
{ 
	outline:none; 
	display:block; 
	position:relative; 
	margin:0; 
	padding:8px 20px; 
	font:10pt Arial, Helvetica, sans-serif; 
	color:#fff; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.5); 
} 

#cssmenu, #cssmenu > ul > li > ul > li a:hover
{ 
	background:#333333; 
	background:-moz-linear-gradient(top, #333333 0%, #222222 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); 
	background:-webkit-linear-gradient(top, #333333 0%,#222222 100%); 
	background:-o-linear-gradient(top, #333333 0%,#222222 100%); 
	background:-ms-linear-gradient(top, #333333 0%,#222222 100%); 
	background:linear-gradient(top, #333333 0%,#222222 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); 
} 

#cssmenu
{
	border-color:#000;
} 

#cssmenu > ul > li > a
{
	border-right:1px solid #000; 
	color:#fff;
} 

#cssmenu > ul > li > a:after
{
	border-color:#444;
} 

#cssmenu > ul > li > a:hover
{
	background:#111;
}

header
{
	width: 100%;
	float: left;
	margin: 0%;
}

img, body
{
    max-width: 100%;
}


#articleformulaire
{
	border : 1px solid black;
	width: 100%;
	height: 850px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}

#mentionlegales
{
	border : 1px solid black;
	width: 100%;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}

#articleindex
{
	border : 1px solid black;
	width: 100%;
	height: 4150px;
	margin-left: auto;
	margin-right: auto;
	border-radius:8px;
	font-family:verdana;
	float: left;
}

#articleelus
{
	border : 1px solid black;
	width: 100%;
	height: 7500px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}

footer
{
	height: 315px;
	width: 100%;
	background-color: black;
	font-family: Helvetica;
	font-size: 12px;
	text-align: left;
	color: white;
	margin-left: auto;
	margin-right: auto;
	float: left;
	overflow:	
}

.divblock
{
	display: inline-block;	
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 25px;
}

.divinline
{
	background-color: rgba(150, 146, 146, 0.75);
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.divniveau
{
	display: inline-block;	
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 25px;
	vertical-align: top;
}

.liste
{
	list-style-type: none; 
	text-decoration: none;
	text-indent: -3em;
	color: white;
}

#copyright
{
	padding-left: 50px;
}

#ancre_up
{
	position: fixed;
	margin-left:15%;
	margin-top:200px;
	margin-right: 10px;
}

#ancre_down
{
	position: fixed;
	margin-left:15%;
	margin-top:250px;
	margin-right: 10px;
}

.bordure
{
	border: 1px solid black;
	border-radius:5px 5px 5px 5px;
	height: 130px;
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	float: left;
}

h4
{
	font-family: Arial;
	font-size: 14px;
	text-decoration: underline;
}

h6
{
	text-align:center;
}

article>p
{
	text-indent:20px;
	padding-left:20px;
	padding-right:20px;
}

.centre
{
	text-align:center;
	margin-right: 10px;
}

body
{
	max-width:100%;
}

#gauche
{
	margin-right: 20px;
	text-align: right;
	margin-bottom: -45px;
}

.bordure
{
	border: 1px solid black;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align:center;
	height: 190px;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
  
 #borduremaire
 {
 	border: 2px dotted red;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align:center;
	height: 550px;
	width: 650px;
	margin-left:auto;
	margin-right:auto;
}

.separationimagedrapeau
{
	height: 45px;
	width: 10%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

.drapeau
{
	height: 45px;
	width: 10%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

.separationimagechampagne
{
	height: 220px;
	width: 95%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align: center;
}

.champagne
{
	height: 220px;
	width: 95%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align: center;
}

#montagnereims
{
	height: 200px;
	width: 95%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align: center;
}

.separationimagetramway
{
	height: 220px;
	width: 95%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align: center;
}

.imagetramway
{
	height: 220px;
	width: 95%;
	margin:0px 20px 0px 0px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align: center;
}

.drapeaujumelage
{
	height: 15px;
	width: 8%;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

#logoisen
{
	height: 45px;
	width: 34%;
	vertical-align: middle;
	float: right;
	padding-right: 50px;
	padding-bottom: 5px;
}

:invalid
{ 
    background-color: white;
    border-color: black;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    -o-box-shadow: 0 0 5px black;
    -ms-box-shadow: 0 0 5px black;
    box-shadow:0 0 5px black;
}

:required 
{
    border-color: black;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    -o-box-shadow: 0 0 5px black;
    -ms-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

form 
{ 
	width:100%;
    margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	float: left;
	width: 100%;
}

input 
{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   border:1px solid #ccc;
   font-size:20px;
   width:90%;
   min-height:30px;
   display:block;
   margin-bottom:15px;
   margin-top:5px;
   outline: none;
   padding-left: 10px;
   padding:10px;

   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
   -ms-border-radius:5px;
   border-radius:5px;
}

input[type=submit]
 {
   background:none;
   padding:10px;
   cursor: pointer;
}
        
label
{
   cursor: pointer;
} 


