html
{
	background-image:url("../images_accueil/background.png");
	background-size: cover;
}

#cssmenu
{ 
	height:37px; 
	display:block; 
	margin-top:-21px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid; 
	border-radius:5px; 
	width:900px;
} 

#cssmenu > ul 
{
	list-style:inside none; 
	padding:0; 
	margin:0;
} 

#cssmenu > ul > li 
{
	list-style:inside none;
	padding:0; 
	margin:0;
	float:left; 
	display:block;
	position:relative;
} 

#cssmenu > ul > li > a
{ 
	outline:none; 
	display:block; 
	position:relative; 
	padding:12px 20px; 
	font:bold 13px/100% Arial, Helvetica, sans-serif; 
	text-align:center; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.4); 
} 

#cssmenu > ul > li:first-child > a
{
	border-radius:5px 0 0 5px;
} 
	
#cssmenu > ul > li > a:after
{ 
	content:''; 
	position:absolute; 
	border-right:1px solid; 
	top:-1px; 
	bottom:-1px; 
	right:-2px; 
	z-index:99; 
} 

#cssmenu ul li.has-sub:hover > a:after
{
	top:0; 
	bottom:0;
} 

#cssmenu > ul > li.has-sub > a:before
{ 
	content:''; 
	position:absolute; 
	top:18px; 
	right:6px; 
	border:5px solid transparent; 
	border-top:5px solid #fff; 
} 

#cssmenu > ul > li.has-sub:hover > a:before
{
	top:19px;
} 

#cssmenu ul li.has-sub:hover > a
{ 
	background:#3f3f3f; 
	border-color:#3f3f3f; 
	padding-bottom:13px; 
	padding-top:13px; 
	top:-1px; 
	z-index:999; 
} 

#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div
{
	display:block;
} 

#cssmenu ul li.has-sub > a:hover
{
	background:#3f3f3f; 	
	border-color:#3f3f3f;
} 

#cssmenu ul li > ul, #cssmenu ul li > div
{ 
	display:none; 
	width:auto; 
	position:absolute; 
	top:38px; 
	padding:10px 0; 
	background:#3f3f3f; 
	border-radius:0 0 5px 5px; 
	z-index:999; 
} 

#cssmenu ul li > ul
{
	width:200px;
} 

#cssmenu ul li > ul li
{
	display:block; 
	list-style:inside none; 
	padding:0; 
	margin:0; 
	position:relative;
} 

#cssmenu ul li > ul li a
{ 
	outline:none; 
	display:block; 
	position:relative; 
	margin:0; 
	padding:8px 20px; 
	font:10pt Arial, Helvetica, sans-serif; 
	color:#fff; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.5); 
} 

#cssmenu, #cssmenu > ul > li > ul > li a:hover
{ 
	background:#333333; 
	background:-moz-linear-gradient(top, #333333 0%, #222222 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); 
	background:-webkit-linear-gradient(top, #333333 0%,#222222 100%); 
	background:-o-linear-gradient(top, #333333 0%,#222222 100%); 
	background:-ms-linear-gradient(top, #333333 0%,#222222 100%); 
	background:linear-gradient(top, #333333 0%,#222222 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); 
} 

#cssmenu
{
	border-color:#000;
} 

#cssmenu > ul > li > a
{
	border-right:1px solid #000; 
	color:#fff;
} 

#cssmenu > ul > li > a:after
{
	border-color:#444;
} 

#cssmenu > ul > li > a:hover
{
	background:#111;
}

header
{
	text-align: center;
}

footer
{
	height: 162px;
	width: 900px;
	background-color: black;
	font-family: Helvetica;
	font-size: 12px;
	text-align: left;
	color: white;
	margin-left: auto;
	margin-right: auto;
	
}

.divblock
{
	display: inline-block;	
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 25px;
}

.divinline
{
	background-color: rgba(150, 146, 146, 0.75);
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.divniveau
{
	display: inline-block;	
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 25px;
	vertical-align: top;
}

.liste
{
	list-style-type: none; 
	text-decoration: none;
	text-indent: -3em;
	color: white;
}

#copyright
{
	padding-left: 50px;
}

#articlechampagne
{
	border : 1px solid black;
	width: 900px;
	height: 4500px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}	

#articlebiscuit
{
	border : 1px solid black;
	width: 900px;
	height: 2450px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}	

#articleautre
{
	border : 1px solid black;
	width: 900px;
	height: 1800px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}

#articleguide
{
	border : 1px solid black;
	width: 900px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius:7px;
	font-family:verdana;
}

#ancre_up
{
	position: fixed;
	margin-left:85%;
	margin-top:200px;
}

#ancre_down
{
	position: fixed;
	margin-left:85%;
	margin-top:250px;
}

#bordure
{
	border: 1px solid black;
	border-radius:5px 5px 5px 5px;
	height: 130px;
	width: 250px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	margin-bottom: 100px;
}

h4
{
	font-family: Arial;
	font-size: 14px;
	text-decoration: underline;
}

dt
{
	text-decoration: underline;
	font-style: italic;
}
 
.arrondie
{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
} 
 
.centrerbouchon
{
	padding-left:auto;
	padding-right: auto;
	text-align: center;
}

.panneaux
{
	text-align:center;
}

h6
{
	text-align:center;
}

article>p
{
	text-indent:20px;
	padding-left:20px;
	padding-right:20px;
}

.centrerimg
{
	text-align:center;
}

.centrersouligner
{
	text-align:center;
	text-decoration:underline;
}

#iframemap
{
	width:825px;
	height:450px;
}

.separationimagebiscuit
{
	margin:0px 20px 0px 0px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	width: 380px; 
	height: 260px;
}

.imagebiscuit
{
	width: 380px;
	height: 260px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}
 
.centre
{
	text-align:center;
	margin-right: 10px;
}

img
{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

.bordureguide
{
	border: 1px solid black;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	text-align:center;
	height: 250px;
	width: 300px;
	padding-top: 15px;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
	margin-right: 40px;
	margin-left: 100px;
}

.h3
{
	text-align: center;
	font-family: arial;
}

#logoisen
{
	height: 45px;
	width: 200px;
	vertical-align: middle;
	float: right;
	padding-right: 50px;
	padding-bottom: 5px;
}

iframe
{
	text-align: center;
	padding-right: auto;
	padding-left: auto;
	border-width:1px;
}

.maisons
{
	height: 65px;
	width: 180px;
}

